@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "MontserratBold";
    src: url(../font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Regular.ttf);
}

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header #bienvenue {
    position: relative;
    width: 100%;
    display: flex;
    align-content: center;
}

#bienvenue img {
    width: 100%;
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(255, 255, 255, 0.205));

}

#bienvenue h2 {
    position: absolute;
    top: 0;
    color: #fff;
    padding: 1rem;
    font-size: larger;

}

#recherche {

    font-family: "Roboto";
    padding: 1.5rem;
    background-color: rgba(194, 169, 139, 0.178);
}

#farmerList {
    font-family: "MontserratBold";
}

#imgText {

    position: relative;
    width: 100%;

}

#imgText img {
    width: 100%;
    box-shadow: rgba(116, 87, 52, 0.164) 3px;
}

#inimg {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
    padding: 1rem;
    font-size: larger;
}

#mapContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#map{
    width: 600px;
    height: 400px;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
    background-color: #111b25;
    color: #fff;
    height: 4rem;
}

@media screen and (min-width:800px) {
    #bienvenue h2 {
        position: absolute;
        top: 0;
        color: #fff;
        padding: 1.5rem;
        letter-spacing: .1rem;
        font-size: xx-large;
    }

    #imgText h1 {
        position: absolute;
        bottom: 0;
        color: #fff;
        padding: 1.5rem;
        letter-spacing: .1rem;
        font-size: xx-large;

    }

    footer {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 5px;
        background-color: #111b25;
        color: #fff;
        height: 4rem;
        font-size: larger;
    }

}