<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Projet Valf</title>
</head>

<body>
    <header>
        <h3>Bienvenue sur </h3>
    </header>
    <main>
        <div id="recherche">
            <form action="" method="post" name="search">
                <label for="chooseYourFarm">Que recherchez-vous:</label>
                <input list="farmerList" id="chooseYourFarm" name="chooseYourFarm" />

                <datalist id="farmerList">
                    <option value="Boissons">
                    <option value="Fruits">
                    <option value="Légumes">
                    <option value="Volailles">
                    <option value="Viandes">
                </datalist>
                <br>
                <label for="sinon">Sinon, tapez ci-dessous ;)</label><br>
                <input type="search" name="sinon" id="sinon" placeholder="Tapez votre texte ici"> <input type="submit"
                    value="Envoyer">

            </form>

        </div>
        <img src="../static/img/paysans dans le frigo.jpg" alt="producteur dans le frigo">    
        <div id="text">
			Trouvez les producteurs et/ou les points de vente de produits locaux les plus proches de chez vous, en Seine-Maritime.</div>
    </main>

    <footer>
        mention legale / Powered By 
    </footer>


</body>

</html>