<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Projet Valf</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
    <script src="../static/js/main.js" defer></script>
</head>

<body>
    <header>
        <div id="bienvenue">
            <img src="../static/img/Vente-a-la-ferme2.jpg" alt="">
            <h2>Bienvenue sur </h2>
        </div>
    </header>
    <main>
        <div id="recherche">
            <form action='/process' method="post" name="search" id="search">
                <label for="chooseYourFarm">Que recherchez-vous:</label>
                <!-- revoir la façon de sélectionner, choisir des boutons (verts?) -->
                <input list="farmerList" id="chooseYourFarm" name="chooseYourFarm" />
                <br>
                <datalist id="farmerList">
                    <option value="Boissons">
                    <option value="Fruits">
                    <option value="Légumes">
                    <option value="Volailles">
                    <option value="Viandes">
                </datalist>
                <br>
                <label for="sinon">Sinon, tapez ci-dessous ;)</label>
                <br>
                <input type="search" name="sinon" id="sinon" placeholder="Tapez votre texte ici">
                <input type="submit" value="Envoyer" id="submit">
            </form>

        </div>
        <div id="imgText">
            <!-- mettre l'image dans la div parent -->
            <img src="../static/img/paysans dans le frigo.jpg" alt="Paysans dans le frigo">

            <div id="inimg">
                <div id="list">
                    <p>Voici les Lieux qui peuvent correspondre:</p>
                    <!-- <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Nom</th>
                            <th>catégories</th>
                            <th>adresse</th>
                            <th>contact</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in game_set %}
                            <tr>
                              <td>{{ item.game_name }}</td>
                              <td>{{ item.plateform_id }}</td>
                              <td>{{ item.completion_status }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table> -->
                </div>

                <div id="mapContainer">
                    <div id="map"
                        class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
                        tabindex="0">
                    </div>
                </div>

                <h1>Trouvez les producteurs et/ou les points de vente de produits locaux les plus proches de chez vous, en Seine-Maritime.</h1>
            </div>
        </div>
    </main>

    <footer>
        mention legale / Powered By
    </footer>


</body>
<script
	src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
</html>